@import "tailwindcss";

nav div a {
    color: black;
}

nav div a::after {
    background: black;    
    border-radius: 3px;
    color: black;
    content: '';
    display: block;
    height: 3px;
    width: 0px; 
    transition: width 300ms ease-in;
}

nav div a:hover {
    color: black;
}

nav div a:hover::after {
    width: 100%;
}

nav div a.active::after {    
    border-radius: 3px;
    width: 100%;
}

nav div a.active {
    color: black;
}

