@import "tailwindcss";

nav a {
  color: #a1a1a1;
}

nav a::after {
  background: white;
  border-radius: 3px;
  color: white;
  content: "";
  display: block;
  height: 3px;
  width: 0px;
  transition: width 300ms ease-in;
}

nav a:hover {
  color: white;
}

nav a:hover::after {
  width: 100%;
}

nav a.active::after {
  color: white;
  border-radius: 3px;
  width: 100%;
}

nav a.active {
  color: white;
}


