.bookshelf {
    background-image: url("../assets/backgrounds/bookshelf.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}
.wooden {
    background-image: url("../assets/backgrounds/wooden.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.temp {
    background-image: url("../assets/backgrounds/temp.png");
    background-size: stretch;
    background-repeat: no-repeat;
    background-position: center;
}

.box {
  background-image: url("../assets/backgrounds/bg-1.svg");
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
}
