.carousel {
    position: relative;
    perspective: 10000px;
}

.inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform-style: preserve-3d;
    width: 100%;
}

.item {
    width: 300px;
    height: 200px;
    margin: 0 10px;
    transition: transform 0.5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transform-origin: center center;
}