button {
  background-color: transparent;
  text-decoration: none;
  color: yellow;
  border: 2px solid yellow;
  padding: 5px 10px;
}
button:hover {
  background-color: yellow;
  color: black;
}

.time-container {
  grid-template-columns: repeat(3, 220px);
}

.time-line {
  background: linear-gradient(rgb(26, 26, 26) 0 0) content-box,
    linear-gradient(var(--c, #eb3edc) 0 0) padding-box,
    linear-gradient(
        var(--d, 90deg),
        transparent 60%,
        transparent 60%,
        #fce300 100%
      )
      border-box;
  border: 15px solid transparent;
  border-radius: 60px;
}

.time-line:nth-child(even) {
  color: cyan;
  grid-column-end: -1;
  --d: -90deg;
  --c: #009cda;
}
.time-line:nth-child(odd) {
  color: magenta;
}
.time-line:not(:last-child) {
  margin-bottom: -15px;
}

.time-line:before,
.time-line:after {
  content: "";
  display: block;
}

discription {
  position: absolute;
  font-size: 1.5em;
  left: calc(100% + 50px);
  top: 50%;
  transform: translateY(-50%);
  white-space: nowrap;
}

.time-line:nth-child(even) discription {
  left: auto;
  color: #000;
  right: calc(100% + 50px);
}
