@import "tailwindcss";

nav div a {
    color: black;
    transition: underline 0.3s ease-in 0.2s;
}

nav div a:hover {
    color: black;
    text-decoration-line: underline;
    text-decoration-thickness: 3px;
}
nav div a.active {
    color: black;
    text-decoration-line: underline;
    text-decoration-thickness: 3px;
}